# Ignore virtual environments
.venv/
.venv-1/
venv/
__pycache__/

# Ignore git
.git/
.github/

# Ignore development files
.env
firebase-debug.log
.firebaserc
firebase.json
*.pyc
.DS_Store

# Ignore node modules (if any)
node_modules/
 
 # Additional ignores for App Engine deploy
 .gitignore
 .vscode/
 *.ipynb_checkpoints/
 build/
 dist/
 firebase-service-account.json
 *.pyo
 *.pyd
